body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(45deg,black,grey);
}
.main{
   width: 300px; 
   height: 400px;
   box-shadow:2px 2px 10px rgb(104, 11, 11) ;
   border-radius: 20px;
   padding: 20px;
   background:rgb(175, 173, 173);
   margin: 20px auto;
}
h2{
    color: rgb(89, 61, 3);
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
button {
    width: 60px;
    height: 40px;
    margin: 5px;
    border: none;
    border-radius: 8px;
    background-color: #f4f4f4;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #ddd;
    transform: scale(1.05);
    box-shadow: 2px 2px 8px black;
}

.op {
    background-color: #0d0909b7;
    color: #fef7f7;
}

.op:hover {
    background-color:rgb(126, 62, 62);
}

#inputar {
    width: 95%;
    height: 40px;
    font-size: 20px;
    text-align: right;
    padding: 5px 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    background-color: #eee;
}

 

